
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
// Mixin for button styles


// Body styles
body {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Sedan SC", serif;
  margin: 0;
  padding: 0;
  
}

.customButton {
  background-color: #44240d;
  color: white;
}

// Container styles
.container {
  margin: 50px auto;
  max-width: 1200px;
  padding: 030px;
  background-color: #c2b19c;
  border-radius: 8px;
}



// Table styles
.table {
  width: 100%; // Adjust width to 100%
  border-collapse: collapse;

  thead {
    th {
      background-color: transparent; // Using themed color here
      color: rgb(0, 0, 0);
      padding: 12px 16px;
      text-align: left;
      border: 3px solid black;
    }
  }

  tbody {
    td {
      padding: 10px 16px;
      border: 3px solid black;
      color: rgb(0, 0, 0);
    }
  }
}

// Action buttons container styles
.action-buttons {
  display: flex;
  justify-content: flex-end;
  border: 3px solid black;

  button {
    &.btn-outline-secondary {
      background-color: #28a74600;
    }

    &.btn-outline-danger {
      background-color: rgba(255, 0, 0, 0);
    }
  }
}