/* chart.scss */
.chart {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text */
  border-radius: 100px;
}

.welcome {
  margin-top: 20px; /* Adjust as needed */
}

.welcome img {
  max-width: 700px;
  height: auto;
  border-radius: 10px; /* Adjust the value to increase or decrease the border radius */
  opacity: 100%;
}

