/* Container to center the form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #fafff9, #bceaff); /* Light gradient background */
  font-family: 'Arial', sans-serif;
}

/* Form container with background, shadow, and rounded corners */
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff85;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
}

/* Heading styling */
.login-form h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

/* Description below the heading */
.login-form p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  border: none; /* Removes the border */
  box-shadow: none; /* Removes the box-shadow */
}


/* Form group for spacing input fields */
.form-group {
  margin-bottom: 20px;
  position: relative;
}

/* Styling for input icons */
.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}

/* Input field styling */
.form-group input {
  width: 100%;
  padding: 12px 12px 12px 35px; /* Padding to accommodate icon */
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #5ac18e; /* Green border on focus */
  background-color: #fff;
  outline: none;
}

/* Forgot password link */
.forgot-password {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgot-password a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Login button styling */
.btn-login {
  width: 100%;
  padding: 15px;
  background-color: #5ec4ff; /* Green button */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login:hover {
  background-color: #b4b4b4; /* Darker green on hover */
}

/* Login icon inside the button */
.button-icon {
  margin-right: 10px;
  font-size: 18px;
}

/* Sign-up link */
.signup-link {
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: #22c1ff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}





  
  